<h1>Make your own To-do List</h1>
<p>
  Here you can see your <%= link_to 'To-do list', todos_path %>
</p>
<p>
  Or to find out more information about the page, <%= link_to 'Click Here.', about_path %>
</p>
