<h1>Welcome to your own Todo List</h1>
<p>
  Here you can create a <%= link_to 'new list', todos_path %>
</p>
<p>
  Or to find out more information about the page, <%= link_to 'Click Here.', about_path %>
</p>
