<nav class="nav nav-wrapper green darken-4">
<a class="btn-floating btn-large pulse"
<%= link_to 'Home', root_path %>
<a class="btn-floating btn-large pulse"
<%= link_to 'About', about_path %>
<ul class="right">
<a class="btn-floating btn-large pulse"
<%= link_to 'View', todos_path %>
</ul>
</nav>
